In [3]:
#1번
print("Hello 헬조선")

Hello 헬조선

In [4]:
#2
print("Mary's cosmetic")

Mary's cosmetic

In [5]:
#3
print("신씨 소리질러. "훠우~"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1461910480.py, line 2)

In [6]:
print('어이 신씨 소리질러~ "훠우~"')

어이 신씨 소리질러~ "훠우~"

In [12]:
#4
print('"c:/Windows"')

"c:/Windows"

In [14]:
#5
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [27]:
#6
print("오늘은","일요일")

오늘은 일요일

In [16]:
#7
print("naver","kakao","sk","samsung",sep=";")

naver;kakao;sk;samsung

In [17]:
#8
print("naver","kakao","sk","samsung",sep="/")

naver/kakao/sk/samsung

In [19]:
#9
print("first",end="");print("second")

firstsecond

In [26]:
#9 응용-> 이건 왜 이러는거지?
print("고",end="");print("민");print("정")

고민
정

In [37]:
 #10
print(5/3)

1.6666666666666667

In [38]:
#11
삼전=50,000
총 평가금액= 삼전*10
print(총 평가금액)

SyntaxError: invalid syntax (2781693314.py, line 3)

In [39]:
#11
삼전=50000
총평가금액=삼전*10
print(총평가금액)

500000

In [40]:
#11번에서  "총 평가금액" 띄어쓰기하면 왜 안됨? 어이없네 파이썬 이 멍청한 언어체계 이거도 못알아 먹냐?

In [46]:
#12
시가총액=298000000000000
현재가=50000
PER=15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [48]:
#12
"int"랑 "float"가 뭐였더라

SyntaxError: invalid syntax (3860881136.py, line 2)

s=hello
t=python
print(s="!",t)

In [50]:
s=hello
t=python
print(s+"!",t)

NameError: name 'hello' is not defined

In [53]:
#13
s="hello"
t="python"
print(s+"!",t)

hello! python

In [54]:
#14
이거는 패스

SyntaxError: invalid syntax (1283415837.py, line 2)

In [56]:
#16
num_str="720"
num_int=int(num_str)
print((num_int+1))

721

In [59]:
#17
num_int=100
num_str=str(num_int)
print(num_str, type(num_str))

100 <class 'str'>

In [60]:
#17 -> ㅅㅂ? result 뭔데 
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [64]:
#18 이거는 안배운거 같은데 ㅅㅂ?
num_str="15.79"
num_float=float(num_str)
print(num_float, type(num_str))

15.79 <class 'str'>

In [2]:
year="2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [3]:
#20
월=48584
총금액=월*36
print(총금액)

1749024

In [7]:
#21
letters='python'
print(letters[0],letters[2])

p t

In [10]:
#22
번호='24가 2210'
print(번호[-1],번호[-2],번호[-3],)번호[-4])

SyntaxError: unmatched ')' (3218647221.py, line 2)

In [11]:
번호='24가 2210'
print(번호[-1])

0

In [12]:
번호='24가 2210'
print(번호[-4])

2

In [13]:
번호='24가 2210'
print(번호[-4:])

2210